div[name="AntraFooter"]{
    background-color: DarkGray;
    border: 1px solid black;
    width: 80%;

 }
 
 div{
    color:Black;
    float: left;
    width: 20%;
    margin-left:2.5%;
    margin-right:2.5%;
 }
 
 a {
    color:Black;
    text-decoration: none;
 }
 
 .fb-like{
    float: right;}